
a{
  display: block;
  color:#000000;
  text-decoration: none;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
ul li{
  display: inline-block;
}

body{

}

#header
{
  background-color: #ddf6ff;
  border-radius: 50px;
  text-align: center;
  line-height: 100px;
}
#header:hover
{
  background-color: #bcdde9;
}
