
<<<<<<< HEAD
.title{
  text-align: left;
  border-bottom:solid 2px #000;
}


body{
  background-color: #e0f4ff;
}

=======
>>>>>>> 34d0961f7cd58733ef842eade8122506f92e2f7f
a{
  display: block;
  color:#000000;
  text-decoration: none;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
ul li{
  display: inline-block;
}

<<<<<<< HEAD
=======
body{

}
>>>>>>> 34d0961f7cd58733ef842eade8122506f92e2f7f

#header
{
  background-color: #ddf6ff;
  border-radius: 50px;
  text-align: center;
  line-height: 100px;
}
#header:hover
{
  background-color: #bcdde9;
<<<<<<< HEAD

=======
>>>>>>> 34d0961f7cd58733ef842eade8122506f92e2f7f
}
