article{
    /*margin:5%;*/
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 10px;
    display: block;
    border-left: solid 10px #ffb78a;
    border-bottom: solid 2px #000;
    border-right: solid 4px #000;
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

article:hover{
    background-color: #eee;
}

footer{
    text-align: right;
    color:gray;
}

.tags_blogs{
    color:#000;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-inline: 10px;
    background-color: #eee;
    font-size: 20px;    
    border: solid 2px #000;
    border-radius: 5px;
    display:inline-block;
    flex-wrap: wrap;
}

.tags_blogs:hover{
    background-color: #ddd;
    border-radius: #000;
    text-decoration:underline;
}

.cate{
    text-align: right;
    color:#000;
}

.headline{
    margin-right: 5%;
    
    border-bottom: solid 2px #000;
    border-right: solid 4px #000;
    background-color: #fff;
    border-left: solid 5px #ffb78a;
}

.BlogLink{
    text-decoration: none;
    color: #000;
}
.BlogLink h2{
    margin-top: 0;
}

.tags_tags{
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    article{
        background-color: #101324;
        color: #fff;
        border-top: solid 1px #fff;
        border-bottom: solid 2px #fff;
        border-right: solid 4px #fff;
        border-left: solid 10px #996a4d;
    }
    .BlogLink{
        text-decoration: none;
        color: #fff;
        transition: 0.3s ease-in-out;
    }
    .BlogLink:hover{
        background-color: #eee;
        color: #000;
    }
    .BlogLink h2{
        margin-top: 0;
    }
    .tags_tags{
        text-decoration: none;
    }
    .tags_blogs{
        color: #fff;
    }
    .headline{
        color: #fff;
        background-color: #101324;
        border: solid 1px #fff;
        border-bottom: solid 2px #fff;
        border-right: solid 4px #fff;
        border-left: solid 5px #996a4d;
    }
}