.header{
    width:100%;
    text-align: center;
    background-color: #ffb78a;
    border-bottom:solid 2px #000;
    border-right: solid 4px #000;
}

.titletext{
    position:relative;
    display: inline-block;
    font-size: 5vmin;
    color: #fff;
    text-shadow:1px 1px 0 #000, -1px -1px 0 #000,
              -1px 1px 0 #000, 1px -1px 0 #000,
              0px 1px 0 #000,  0-1px 0 #000,
              -1px 0 0 #000, 1px 0 0 #000;
}

@media (max-width: 500px) {
    .header{
        height: auto;
        width: 100%;
    }
    .titletext{
        font-size: 8vmin;
    }
}

@media (prefers-color-scheme: dark) {
    .header{
        background-color:#101324;
        border :solid 1px #fff;
        border-bottom:solid 2px #fff;
        border-right: solid 4px #fff;

    }
    .titletext{
        color: #fff;
    }
}