.header{
    width:100%;
    text-align: center;
    background-color: #ffb78a;
    border-bottom:solid 2px #000;
    border-right: solid 4px #000;
}

.titletext{
    position:relative;
    display: inline-block;
    font-size: 5vmin;
    color: #fff;
}

@media (max-width: 500px) {
    .header{
        height: auto;
        width: 100%;
    }
    .titletext{
        font-size: 8vmin;
    }
}