li.pagination{
    display: inline-block;
}
ul.pagination{
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
}
.pagination_button
{
    margin-right: 20px;
    margin-top: 10px;
    padding-inline: 10px;
    background-color: white;
    border-radius: 20px;
    border: solid 2px #000;
    font-size: 20px;
    display:inline-block;
    flex-wrap: wrap;
    text-decoration: none;
    color: #000;
}

.pagination_button:hover
{
    background-color: #ffb78a;
    text-decoration:underline;
}