.Headline{
    /*
    margin-left: 10%;
    */
    margin-right: 5%;
    
    border-bottom: solid 2px #000;
    border-right: solid 4px #000;
    background-color: white;
    border-left: solid 5px #ffb78a;
}

.content{
    margin-left: 5%;
    margin-right: 10%;
    background-color: #fff;
}

.LinkButton{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 0px;
    place-items: center;
}

.button{
    display: inline-block;
}

.button a{
    background: #eee;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 5px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    z-index:0;
}

.button a:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: #ffb78a;
    transition: .3s;
    left:0;
}

.button a:hover{
    color:#fff;
  }

.button a:hover:before {
      width: 100%;
      z-index: -1;
  }

  #item
{
    font-size: 25px;
    text-decoration: none;
    width: 200px;
    height: 100px;
  
}
@media (max-width: 910px) {
    
}

@media (max-width: 500px) {
#item
{
    width: 100px;
}
}