.mainContent
{
    margin: 0 auto;
    max-width: 1080px;
    color: #29144c;
    background-color: #ecebf7;
}

button{
    color:#000;
    background-color: #e4e4e4;
    margin-right: 5px;
    margin-left: 5px;
    border: none;
    font-size: 15px;
    
}
button:hover{
    background-color: #a9a9a9;
}

.tags_post:hover{
    background-color: #ddd;
    text-decoration:underline;
}

.tags_post
{
    margin-right: 10px;
    margin-bottom: 10px;
    padding-inline: 10px;
    background-color: #eee;
    border-radius: 5px;
    border: solid 2px #000;
    font-size: 20px;
    display:inline-block;
    flex-wrap: wrap;
    text-decoration: none;
    color: #000;
}

.link{
    text-decoration: none;
    color: #688ec7;
}
.link:hover
{
    text-decoration: underline;
    color: #4c6ea1;
}

blockquote
{
    background-color: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    color: #666;
}

@media (prefers-color-scheme: dark) {
    .mainContent
    {
    margin: 0 auto;
    max-width: 1080px;
    color: #fff;
    background-color: #222749;
    }
    .link{
        color: #b3cff8;
    }
    .link:hover{
        color: #8fa7ca;
    }
}