.mainContent
{
    margin: 0 auto;
    max-width: 1080px;
    background-color: white;
}

button{
    color:#000;
    background-color: rgb(228, 228, 228);
    margin-right: 5px;
    margin-left: 5px;
    border: none;
    font-size: 15px;
    
}
button:hover{
    background-color: darkgrey;
}

.tags:hover{
    background-color: #ddd;
    text-decoration:underline;
}

.tags
{
    margin-right: 5px;
    background-color: #eee;
    border-radius: 5px;
    font-size: 20px;
}

.link
{
    border-bottom: solid 2px black;
    background-color: #eee;
}
.link:hover
{
    background-color: #ddd;
}

blockquote
{
    background-color: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    color: #666;
}