.subTitle{
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: solid 2px #000;
    border-right: solid 4px #000;
    background-color: white;
    border-left: solid 5px #ffb78a;

}
.content{
    margin-left: 10%;
}


.LinkButton{
    margin:auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 0px;
    place-items:center;
}
